html {
  background-color: #350e05;
}

.App {
  text-align: center;
  background-color: #350e05;
  min-height: 100vh;
  color: whitesmoke;
  margin-top: 110px;
}

.columns:last-child{
  margin-bottom: 0;
}

.center {
  text-align:center;
}

.right {
  text-align:right;
}

.left {
  text-align:left
}

.just {
  text-align: justify
}

.minor-text {
  font-size: 20px;
  font-weight: 100
}

.nav-spot {
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10px;
  background-color:black;
  padding-bottom: 25px;
  border-bottom: 5px double silver;
  height: 110px
}

.nav-title {
  font-size: 36px;
  font-weight: 700;
  color: white
}

.nav-button {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
}

.nav-button:hover {
  background-color:burlywood;
}

.nav-button:active {
  background-color:black;
  font-size: white
}

.nav-button-bar {
  margin-top: 3px;
}

br.nav-br {
  height: 2px
}

.footer {
height: 10px;
  background-color: #350e05;
}

.no-margin {
  margin: 0
}

/* game-box-container */

.game-box-container {
  line-height: 1.2;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5vh
}

.game-box {
  text-align: center;
  border: 2px solid silver;
  border-radius: 10px;
  background-color: black;
}

.game-box-score-card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-right: 2px solid silver;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.game-box-team-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2rem;
}

.info-row{
  border-top: 2px solid silver;
  background-color:black;
}

.clock {
  background: white;
  font-size: 14px;
  color: black;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 1.2
}

.game-box-rink-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.game-box-rink {
  font-size: 20px;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  height: 100px;
  font-weight: 700;
  line-height: 80px;
}

.rink-home-net {
  width: 20px;  
  border-right: 2px solid red;
  color: black;
  background-color: white; 
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-weight: 700;
  margin-left: 3px;
}
.rink-home-zone {
  width: 70px;
  background-color: white;
}
.rink-center {
  width: 50px;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  background-color: white;
}

.rink-away-zone {
  width: 70px;
  background-color: white;
}

.rink-away-net {
  width: 20px;
  border-left: 2px solid red;
  color: black;
  background-color: white; 
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: 700;
  margin-right: 3px
}

.game-box-message {
  padding-top: 5px;
  height: 50px
}

/* fired up timer */
.fire-box {
  margin-right: 1px;
  margin-left: 1px;
}

.fire-time {
  background: crimson;
  font-size: 16px;
  color: lightgray;
  font-weight: 600;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fire-team {
  background: rgb(248, 148, 54);
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.inactive-team {
  background: rgb(34, 34, 34);
  font-size: 16px;
  color: black;
  font-weight: 600;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inactive-team {
  background: rgb(85, 85, 85);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.buffer {
  color: black
}

.league-table-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%
}

.division-table {
  background-color: rgb(46, 45, 45);
  border-radius: 10px;
  padding: 0
}

.division-table-title {
  font-size: 26px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 10px;
}

.division-table-team {
  font-size: 22px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0
}

.division-table-team:hover {
  transform: scale(1.05)
}

.bingo {
  background-color: rgb(21, 21, 32)
}

.bingo.division-table-team.a {
  background-color:rgb(23, 31, 49);
  margin-bottom: 0px
}

.bingo.division-table-team.b {
  background-color:rgb(21, 21, 32);
  margin-bottom: 0px
}

.bongo {
  background-color: rgb(34, 18, 18)
}

.bongo.division-table-team.a {
  background-color: rgb(54, 24, 24);
  margin-bottom: 0px
}

.bongo.division-table-team.b {
  background-color: rgb(34, 18, 18);
  margin-bottom: 0px
}

.table-record {
  padding-right: 3px
}

.team-modal {
  background-color: black;
  color: white
}

.team-modal-title {
  font-size: 26px;
  font-weight: 700;
}

.team-modal-subtitle {
  margin-top: 5px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 300;
  font-style: italic
}

.modal-card{
  max-width: 500px;
}

.modal-card-body {
  background-color: black;
  color:white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.roster-list{
  padding-top: 10px;
  padding-left: 15px
}

.position-title {
  font-weight: 700;
}

hr {
  height: 5px;
  margin: 1.2rem
}

p {
  margin: 0px;
}

span {
  margin: 0px
}

button {
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  color: white;
  border-radius: 25px;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
  left: 55px
}

button:hover {
  transform: scale(1.1)
}


@media only screen and (max-width: 1030px) {
  .league-table-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%
  }
  .App {
    margin-top: 90px;
  }
  .nav-spot {
    height: 90px;
  }
  .game-box-container {
    margin-left: 5%;
    margin-right: 5%;
  }
 
}

@media only screen and (max-width: 750px){
  .game-box-score-card {
    border-right: 0px;
    border-top-right-radius: 10px;
    margin-right: 2px;
  }
  .game-box-team-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;
  }
  .game-box-score-card-row {
    padding-right: 15px
  }
  .game-box-message {
    padding-top: 20px;
    height: 100px
  }
  .rink-abrv-right {
    transform: rotate(90deg)
  }
  .rink-abrv-left {
    transform: rotate(270deg)
  }
  .minor-text {
    font-size: 12px
  }
  .division-table-title {
    font-size: 20px;
    font-weight: 500
  }
  .division-table-team {
    font-size: 16px
  }
  .league-table-wrapper {
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%
  }
  .team-modal-title {
    font-size: 20px;
  }
  .team-modal-subtitle{
    margin-left: 0px
  }
  .nav-title {
    font-size: 24px
  }
  .nav-button-wrapper {
    margin-top: 0px;
  }
  .nav-button {
    font-size: 14px
  }
  .roster-list{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
}
