.App {
  text-align: center;
  background-size: 500px;
  background-color: black;
  min-height: 100vh;
  color: whitesmoke;
  padding-top: 35px;
  padding-bottom: 35px;
}
/* bulma override for notifications */
.message {
  background-color: transparent;
}
.columns:last-child{
  margin-bottom: 0;
}

.centerBox {
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.center {
  text-align:center;
}

.right {
  text-align:right;
}

.left {
  text-align:left
}

.just {
  text-align: justify
}

.minor-text {
  font-size: 20px;
  font-weight: 100
}

.nav-spot {
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10px;
  background-color:black;
  padding-bottom: 25px;
  border-bottom: 5px double silver;
  min-height: 110px
}

.nav-title {
  font-size: 36px;
  font-weight: 1000;
  font-style: italic;
  color: white
}

.nav-button {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 1000;
}

.nav-button:hover {
  background-color:#deb887;
}

.nav-button:active {
  background-color:black;
  font-size: white
}

.nav-button-bar {
  margin-top: 3px;
}

br.nav-br {
  height: 2px
}

.footer {
height: 10px;
  background-color: black;
}

.no-margin {
  margin: 0
}

.home-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  background: black;
  border: 5px silver double;
  border-radius: 10px;
}

.home-header {
  font-size: 72px;
  font-weight: 700;
  border-bottom: 3px solid silver;
  line-height: 5.0rem
}

.home-sub {
  font-size: 24px;
  font-weight: 500;
  line-height: 0.75rem
}

.home-content {
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
}

.home-info-wrapper {
  background-color: oldlace;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%
}

.quotes {
  padding-top: 20px;
}
.quote {
  font-size: 30px;
  font-weight: 700;
  color: gold;
  font-style: italic;
}
.source {
  font-size: 20px;
  color: goldenrod;
  font-style:normal
}

.favor-box {
  background-color: rgb(22, 22, 22);
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid silver;
  border-radius: 10px;
}

.account-box {
  background-color:rgb(21, 17, 34);
  color: rgb(255, 255, 255);
  margin: 10px;
  border: 2px silver solid;
  border-radius: 15px;
}

/* game-box-container */

.game-box-container {
  line-height: 1.2;
  margin-left: 22%;
  margin-right: 22%;
  padding-bottom: 10vh
}

.game-box {
  text-align: center;
  border: 2px solid silver;
  border-radius: 10px;
  background-color: black;
}

.game-box-score-card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-right: 2px solid silver;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.game-box-team-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2rem;
}

.info-row{
  border-top: 2px solid silver;
  background-color:black;
}

.clock {
  background: white;
  font-size: 14px;
  color: black;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 1.2
}

.game-box-rink-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.game-box-rink {
  font-size: 20px;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  height: 100px;
  font-weight: 700;
  line-height: 90px;
}

.rink-home-net {
  width: 20px;  
  border-right: 2px solid red;
  color: black;
  background-color: white; 
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-weight: 700;
  margin-left: 3px;
}
.rink-home-zone {
  width: 70px;
  background-color: white;
}
.rink-center {
  width: 50px;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  background-color: white;
}

.rink-away-zone {
  width: 70px;
  background-color: white;
}

.rink-away-net {
  width: 20px;
  border-left: 2px solid red;
  color: black;
  background-color: white; 
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: 700;
  margin-right: 3px
}

.game-box-message {
  padding-top: 5px;
  height: 50px
}

/* fired up timer */
.fire-box {
  margin-right: 1px;
  margin-left: 1px;
}

.fire-time {
  background: crimson;
  font-size: 16px;
  color: lightgray;
  font-weight: 600;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fire-team {
  background: rgb(248, 148, 54);
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.inactive-team {
  background: rgb(34, 34, 34);
  font-size: 16px;
  color: black;
  font-weight: 600;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inactive-team {
  background: rgb(85, 85, 85);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.buffer {
  color: transparent
}

.league-table-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.5rem
}

.con-table {
  background-color: rgb(46, 45, 45);
  border-radius: 10px;
  padding: 5px;
}

.con-table-title {
  font-size: 26px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 10px;
}

.div-table-title {
  font-size: 18px;
  font-weight: 800;
  padding-left: 10px;
}

.division-table-team {
  font-size: 22px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

.division-table-team:hover {
  transform: scale(1.05)
}

.division-table-team:not(:last-child){
  margin-bottom: 0;
}

.div-table-wrapper {
  border: 3px solid black;
  border-top-right-radius: 30px
}

.bingo {
  background-color: rgb(49, 49, 65);
}

.ogopogo {
  background-color:rgb(0, 13, 41)
}

.igopogo {
  background-color:rgb(0, 41, 31)
}

.chessie {
  background-color:rgb(41, 0, 0)
}

.nessie {
  background-color:rgb(34, 41, 0)
}

.bongo {
  background-color: rgb(71, 62, 62)
}

.team-box {

}

.table-record {
  padding-right: 3px
}

.team-modal-title {
  font-size: 72px;
  font-weight: 700;
}

.team-modal-subtitle {
  padding: 10px;
  font-size: 32px;
  font-weight: 300;
  font-style: italic
}

.modal-card{
  max-width: 500px;
}

.modal-card-body {
  background-color: black;
  color:white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.roster-list{
  padding-top: 10px;
  padding-left: 15px
}

.position-title {
  font-weight: 700;
}

hr {
  height: 5px;
  margin: 1.2rem
}

p {
  margin: 0px;
}

span {
  margin: 0px
}

button {
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  color: white;
  border-radius: 25px;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
  left: 55px
}

button:hover {
  transform: scale(1.1)
}

@-webkit-keyframes color-change-4x {
  0% {
    background-color: black;
  }
  33.3333% {
    background-color: rgb(29, 17, 17);
  }
  66.666% {
    background-color: #181111;
  }
  100% {
    background-color: #17123d;
  }
}
@keyframes color-change-4x {
  0% {
    background-color: black;
  }
  33.3333% {
    background-color: rgb(29, 17, 17);
  }
  66.666% {
    background-color: #181111;
  }
  100% {
    background-color: #17123d;
  }
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 1030px) {
  .league-table-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-spot {
    height: 90px;
  }
  .game-box-container {
    margin-left: 5%;
    margin-right: 5%;
  }
 
}

@media only screen and (max-width: 750px){
  .nav-spot {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 5px double silver;
    min-height: 80px
  }  
  .nav-title {
    font-size: 16px;
    font-weight: 1000;
  }
  .nav-button {
    padding: 5px;
    font-size: 12px;
    font-weight: 1000;
  }
  .home-wrapper {
    margin-left: 0%;
    margin-right: 0%;
    border: 0px
  }
  .home-header {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 3px solid silver;
    line-height: 2.0rem
  }
  .quotes {
    margin: 20px;
  }
  .quote {
    font-size: 20px;
    font-weight: 700;
    color: gold;
  }
  .source {
    font-size: 12px;
  }
  .home-sub {
    font-size: 12px;
    font-weight: 200;
    line-height: 0.75rem
  }
  .game-box-score-card {
    border-right: 0px;
    border-top-right-radius: 10px;
    margin-right: 2px;
  }
  .game-box-team-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;
  }
  .game-box-score-card-row {
    padding-right: 15px
  }
  .game-box-message {
    padding-top: 20px;
    height: 100px
  }
  .rink-abrv-right {
    transform: rotate(90deg)
  }
  .rink-abrv-left {
    transform: rotate(270deg)
  }
  .minor-text {
    font-size: 12px
  }
  .con-table-title {
    font-size: 20px;
    font-weight: 500
  }
  .division-table-team {
    font-size: 14px
  }
  .league-table-wrapper {
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%
  }
  .team-modal-title {
    font-size: 30px;
  }
  .team-modal-subtitle{
    font-size: 20px;
  }
  .nav-title {
    font-size: 24px
  }
  .nav-button-wrapper {
    margin-top: 0px;
  }
  .nav-button {
    font-size: 14px
  }
  .roster-list{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 12px;
  }
}
