.symbol {
    border-bottom: 4px solid transparent;
    border-radius: 50%;
}
.buf {
background-color:darkblue;
border-color: darkblue
}
.van {
    background-color: #8AEA92;
    border-color: #8AEA92;
}
.roc {
    background-color: black;
    border-color:black
}
.ott {
    background-color: #DB5ABA;
    border-color: #DB5ABA;
}
.mon {
    background-color: #C41E3D;
    border-color: #C41E3D;
}
.tor {
    background-color: #0932EC;
    border-color: #0932EC
}
.nyr {
    background-color: #3C91E6;
    border-color: #3C91E6
}
.phl {
    background-color: #FFA400;
    border-color: #FFA400
}
.bos {
    background-color: #C97064;
    border-color: #C97064
}
.por {
    background-color: #7FB069;
    border-color: #7FB069
}
.pit {
    background-color: #F8FCDA;
    border-color:#F8FCDA
}
.bur {
    background-color:#324932;
    border-color: #324932;
}
.chi {
    background-color: #D62828;
    border-color: #D62828
}
.wvm {
    background-color: #37123C;
    border-color:#37123C;
}
.nor {
    background-color: #574D68;
    border-color: #574D68;
}
.sfb {
    background-color: #2E1F27;
    border-color: #2E1F27
}
.val {
    background-color: #1B2021;
    border-color: #1B2021
}
.lak {
    background-color: #931621;
    border-color: #931621;
}
.lib {
    background-color: #F75C03;
    border-color: #F75C03
}
.nsh {
    background-color: #FFCB77;
    border-color: #FFCB77
}

